[Unit]
Description=AdsPrometheusConnector
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/AdsPrometheusConnector /etc/AdsPropetheusConnector/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target